{{ define "article-card" }}

<div class="card">
    <div class="card-body">
        <a href="/blog/{{ .Slug }}">
            <img class="mb-3 w-100" src="/assets/{{ .FeatureImage }}">
        </a>
        <a href="/blog/{{ .Slug }}">
            <h3>{{ .Title }}</h3>
        </a>
        
        <small>{{ .Category }} | {{ .Author }} @ {{ .CreatedAt }}</small>

    </div>
</div>

{{ end }}