<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>

        {{ template "head" }}
    </head>
    <body>
        <section class="bg-purple pb-5">
            <div class="container">
                {{ template "navigation" }}
            </div>

            <div class="container">
                <div class="fit-content my-5">
                    <h1 class="z-index-top position-relative mb-0 text-white">Let's connect</h1>
                    <div class="highlight-purple highlight"></div>
                </div>
            </div>
        </section>

        <section class="bg-white">
            <div class="container my-5">
                <div class="fit-content my-5">
                    <h1 class="z-index-top position-relative mb-0">Let's connect</h1>
                    <div class="highlight-white highlight"></div>
                </div>
            </div>
        </section>

        {{ template "footer" }}
    </body>
</html>