{{ define "footer" }}

<div class="bg-grey"> 
    <footer class="container py-5">
        <div class="row">
            <div class="col">
                <p>Description</p>
            </div>
            <div class="col">
                <p>Contact</p>
            </div>
            <div class="col">
                <p>Social media</p>
            </div>
        </div>
    </footer>
</div>

{{ end }}