<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>

        {{ template "head" }}
    </head>
    <body>
        <section class="bg-green">
        {{ template "navigation" }}

            <div class="container my-5">
                <div class="fit-content">
                    <h1 class="z-index-top position-relative mb-0 text-white">Hello rom the template</h1>
                    <div class="highlight-green highlight"></div>
                </div>

                <p>{{ .Body }}</p>
            </div>
        </section>

        {{ template "footer" }}
    </body>
</html>