{{ define "navigation" }}

<ul class="nav text-white">
    <li class="nav-item">
        <a class="nav-link pl-0" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
</ul>

{{ end }}